<div class="modal" tabindex="-1" role="dialog" id="markerFormModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Marcador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="markerData.name" name="name" required>
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea class="form-control" id="description" [(ngModel)]="markerData.description" name="description" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
